body{background-color: #000;}
.content{
 width: 100%; 
 height: 100vh; 
 animation: WebsiteBgShow; 
 animation-duration: 3s; 
 animation-fill-mode: forwards; 
 background: url(../img/Website/Website_Bg.jpg) center no-repeat; 
 background-size: cover;
}
@keyframes WebsiteBgShow { from { opacity: 0; } to { opacity: 0.5; }}